# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/

# YOLO e dados
*.pt
data/
*.csv

# Node
node_modules/
dist/
.vite/

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Logs
*.log
*.log.err
*.err

# SQLite v3
*.db
*.db-journal
*.db-wal
*.db-shm
